/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* card */

.card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
}

/* grids */

.col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-right{
    position: absolute;
    right: 0;
    min-height: 100%;
    width: 50%;
    max-width: 50%;
}

.col-left {
    position: absolute;
    left: 0;
    min-height: 100%;
    width: 50%;
    max-width: 50%;
}

/*styles*/

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header{
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
}

nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0 0 5px 0;
    margin: 0;
    height: 3rem;
}

nav .menu a{
    width: 100px;
    height: 100%;
    text-decoration: none;
    color: #555555;
    border-radius: 5px;
}

nav .menu a:hover{
    background-color: #CCCCCC;
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

nav .menu a li {
    height: 100%;
    line-height: calc(3rem - 5px);
}

header h1{
    height: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    margin: 0;
}

main {
    position: absolute;
    top: 7rem;
    width: 100%;
    min-height: calc(100vh - 9.5rem);
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #F6F6F6;
    height: 2.5rem;
}

footer p{
    font-size: 0.80em;
    height: 1em;
    text-align: center;
}

/*home page*/

main #home-img {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 9.5rem);
    object-fit: cover;
    object-position: center;
}

/*About*/

#about {
    display: flex;
    text-align: center;
}

.remarks{
    text-align: left;
    font-size: 115%;
}

.remark {
    width: 85%;
}

.remark-text {
    margin: 0;
}

.remarker{
    font-size: 0.8em;
    color: #555555;
    text-align: right;
    margin: 0;
}

.remarker .record-label{
    font-weight: bold;
}

#about-img img {
    width: 85%;
    height: 85%;
    object-fit: contain;
    object-position: center;
    padding: 0;
}

/*Music*/

/*Contact*/

.contacts{
    padding: 20px;
}

.contact{
    width: 75%;
}

.contact .staff-name{
    margin: 0 0 10px 0;
    text-transform: capitalize;
}

.channels{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.channel {
    margin-right: 0.25em;
    font-weight: bold;
    text-transform: capitalize;
}
.email, .phone{
    margin: 0 10px;
}

@media (max-width: 1185px){
    .contacts{
        padding: 20px 0 40px;
    }

    .contact{
        min-width: 250px;
    }

    .channels{
        display: contents;
        justify-content: center;
        padding: 5px;
    }
    
    .email, .phone{
        margin: 10px 10px;
    }
}